In [1]:
import sys
import os
sys.path.append(os.path.dirname(os.path.dirname(os.path.abspath('./introduction.ipynb'))))

In [2]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression
from ylearn.estimator_model.propensity_score import PropensityScore
from ylearn.estimator_model.doubly_robust import DoublyRobust
from ylearn.exp_dataset.exp_data import coupon_dataset, meaningless_discrete_dataset

In [3]:
np.random.seed(2022)
num = 1000

In [4]:
data, coef = meaningless_discrete_dataset(num=num,
                                          confounder_num=2,
                                          treatment_effct=[2, 3],
                                          prob=[0.3, 0.7])
data.head()

TypeError: meaningless_discrete_dataset() got an unexpected keyword argument 'confounder_num'

In [ ]:
treatment = 'treatment'
outcome = 'outcome'
w = ['w_0', 'w_1']

In [ ]:
dr = DoublyRobust()
dr_ate = dr.estimate_ate(data, outcome, treatment, w)
print(f'The error is {np.abs(dr_ate - 3) / 3}')

The error is 0.0178877812660397

In [ ]:
n_users = 10000
df = coupon_dataset(n_users, with_income=True)
df.head()

   gender  coupon      amount      income  time_spent
0       1       1  504.695267  517.259674   60.469527
1       1       1  503.833114  517.168181   60.383311
2       1       1  497.694587  494.259992   59.769459
3       0       0  245.259153  477.792542   24.525915
4       0       1  400.853434  506.449489   50.085343

In [ ]:
treatment_ = 'coupon'
outcome_ = 'amount'
w_ = ['gender', 'income']

In [ ]:
print(f'The error is {np.abs(dr.estimate_ate(df, outcome_, treatment_, w_) - 150) / 150}')

The error is 0.0008367835627819887

In [ ]:
data_, coef_ = meaningless_discrete_dataset(num=num,
                                          confounder_num=2,
                                          treatment_effct=[2, 3, 1, 5],
                                          prob=[0.3, 0.2, 0.4, 0.1],
                                          random_seed=213)
data_.head()

   treatment       w_0       w_1    outcome
0          1  0.246877  0.388034   5.286194
1          3  0.247529  1.539599  20.437780
2          3  0.116383  0.729999  18.154415
3          0  0.410530 -0.381842   2.999120
4          0 -0.806011 -0.331248  -4.165826